<div class="row">
  <div class="jumbotron col-xs-12 jumbo-atlas jumbo-pic">
    <div class="col-md-4 col-md-offset-8">
      <div class="panel panel-default card col-xs-12 under-drop sharp">
        <div class="panel-body main-text">
          <h2>Crafted in California, with a vision to help the world.</h2>
        </div>
      </div>
    </div>
  </div>
</div>
