<div class="row">
  <div class="jumbotron jumbo-top jumbo-pic jumbo-lg call-to-action">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h1 itemprop="name" class="titles">
        We are live on Kickstarter!
        <br />
        <small class="white">Kickstarter is a crowdfunding platform where we are allowing poeple to pre-order sunglasses for a discount.</small>
        <br />
        <div class="col-sm-offset-3 col-sm-6 col-xs-12 thunderclap">
          <%= link_to "Support Fello Eyewear", "https://www.kickstarter.com/projects/1474929497/fello-eyewear-high-quality-polarized-affordable", class: "btn btn-lg btn-default sharp full" %>
        </div>
      </h1>

      <h2 class="titles">
      </h2>
    </div>
  </div>
</div>
