<div class="row">
  <div class="jumbotron jumbo-top jumbo-pic jumbo-lg call-to-action">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h1 itemprop="name" class="titles">
        Thank you to all our backers. We were 189% funded on Indiegogo!
        <br />
        <small class="white">
          To find out how you can get a pair now that our Indiegogo campaign has ended please email us at <span class="blue">contact@felloeyewear.com</span>.
        </small>
        <br />
        <!-- <div class="col&#45;sm&#45;offset&#45;3 col&#45;sm&#45;6 col&#45;xs&#45;12 thunderclap"> -->
          <%#= link_to "Support Fello Eyewear", "http://bit.ly/freefellos", class: "btn btn-lg btn-default sharp full" %>
        <!-- </div> -->
      </h1>

      <!-- <h2 class="titles"> -->
      <!-- </h2> -->
    </div>
  </div>
</div>
