<div class="row">
  <div class="jumbotron jumbo-top jumbo-pic jumbo-lg call-to-action">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h1 itemprop="name" class="titles">
        High Quality. Polarized. Made to last a lifetime.
      </h1>

      <h2 class="titles">
        Coming to Kickstarter in March
      </h2>
    </div>
  </div>
</div>
