<div class="row">
  <div class="jumbotron jumbo-top jumbo-pic jumbo-lg">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h1 class="titles">
        High Quality. Polarized. American Made Sunglasses.
      </h1>
    </div>
  </div>
</div>
