<div class="row">
  <div class="jumbotron jumbo-top jumbo-pic jumbo-lg call-to-action">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h1 itemprop="name" class="titles">
        Support Fello on Thunderclap to enter our raffle for a free pair of sunglasses. There are only five winners, so don't be late.
        <br />
        <div class="col-sm-offset-3 col-sm-6 col-xs-12 thunderclap">
          <%= link_to "Enter Raffle", "https://www.thunderclap.it/projects/36787-help-a-fello-out", class: "btn btn-lg btn-default sharp full" %>
        </div>
      </h1>

      <h2 class="titles">
      </h2>
    </div>
  </div>
</div>
