<div class="row top-row visible-xs">
  <div class="col-xs-12 pic-card" style="height: 400px;">
    <div class="smile-girl charity-pic">
    </div>
  </div>
</div>

<div class="row top-row visible-xs">
  <div class="col-xs-6 inner-row">
    <div class="row">
      <div class="col-xs-12 main-text blue-card text-center" style="height: 135px;">
        <%= image_helper "vosh.png" %>
      </div>
    </div>
  </div>

  <div class="col-xs-6 inner-row">
    <div class="row">
      <div class="col-sm-12 main-text blue-card text-center" style="height: 135px;">
        <div class="text">
          <h3 class="titles"><%= vosh_donate %></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row top-row visible-xs">
  <div class="col-xs-12 pic-card" style="height: 400px;">
    <div class="thumbs-up charity-pic">
    </div>
  </div>
</div>

<div class="row top-row visible-xs">
  <div class="col-xs-12 inner-row">
    <div class="row">
      <div class="col-xs-12 main-text blue-card text-center" style="height: 250px;">
        <div class="text">
          <h2><%= charity_text %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row visible-xs top-row">
  <div class="col-xs-12 pic-card" style="height: 350px;">
    <div class="eye-exam charity-pic">
    </div>
  </div>
</div>

<div class="row top-row visible-xs">
  <div class="col-xs-6 inner-row">
    <div class="row">
      <div class="col-xs-12 pic-card" style="height: 235px;">
        <div class="eye-cover charity-pic">
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 inner-row">
    <div class="row">
      <div class="col-xs-12 main-text blue-card text-center" style="height: 235px;">
        <div class="text">
          <h2 class="titles"><%= vosh_video %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row visible-xs">
  <div class="col-xs-12 pic-card" style="height: 350px;">
    <div class="smile-gown charity-pic">
    </div>
  </div>
</div>
