<div class="container fello-text charity-stats">
  <div class="row">
    <h2 class="text-center">
      Devoted To Change
    </h2>
  </div>

  <div class="row">
    <h4 class="text-center col-xs-8 col-xs-offset-2 partner">
      Fello was founded with a dedication to supporting sustainable eye care.
      We are humbled by the opportunity to work with VOSH International,
      a purposeful organization commited to bringing vision to the planet.
    </h4>
  </div>

  <div class="row row-eq-height">
    <div class="col-xs-2 col-xs-offset-2 v-center">
      <p class="h1">15%</p>
    </div>

    <div class="col-xs-6 v-center">
      <p>
        Almost one billion people don’t have access to glasses.
        That means that <span class="highlight">15%</span> of the world’s population is unable to
        effectively learn or work because they can’t see clearly.
      </p>
    </div>
  </div>

  <hr />

  <div class="row row-eq-height">
    <div class="col-xs-2 col-xs-offset-2 v-center">
      <p class="h1">$5</p>
    </div>

    <div class="col-xs-6 v-center">
      <p>
        Lack of vision translates to failing at school, work, health and personal lives.
        Just <span class="highlight">$5</span> provides a pair of sightgiving glasses,
        allowing an individual to regain independence and reimagine their future.
      </p>
    </div>
  </div>

  <hr />

  <div class="row row-eq-height">
    <div class="col-xs-2 col-xs-offset-2 v-center">
      <p class="h1">153</p>
    </div>

    <div class="col-xs-6 v-center">
      <p>
        Visual ailments are detectable and can be treated.
        <span class="highlight">153 million</span> people suffer from
        uncorrected refractive error, an easily preventable cause of vision loss.
      </p>
    </div>
  </div>
</div>

<div class="charity-stats counter">
  <div class="container fello-text">
    <div class="row">
      <h2 class="text-center">Fight Blindness Together</h2>
    </div>

    <div class="row">
      <p class="col-xs-8 col-xs-offset-2">
        For every pair of sunglasses sold,
        Fello has pledged a $5 donation to VOSH.
        You can also accompany us in our pursuit to raise awareness and
        make an difference by contributing <%= link_to "here", "http://www.vosh.org/donate", target: :blank %>.
      </p>
    </div>

    <div class="row row-eq-height">
      <div class="col-xs-3 col-xs-offset-3">
        <h1 class="count">484</h1>
      </div>

      <div class="col-xs-3 v-center">
        <h1>Lives</h1><h1> Changed</h1>
      </div>
    </div>
  </div>
</div>

<div class="row fello-text row-eq-height">
  <%= image_helper "eye_cover.jpg", class: "full-h col-xs-6 no-pad" %>

  <div class="col-xs-6 charity-stats v-center">
    <div class="col-xs-8 col-xs-offset-2">
      <!-- <h1 class="text&#45;center">VOSH International</h1> -->
      <div class="col-xs-12 text-center">
        <%= image_helper "vosh_logo.jpg", class: "vosh-logo" %>
      </div>

      <p>
        VOSH helps restore sight to those in need through sight-saving surgery,
        prescription glasses, or medical treatment.
        Their members support clinics and hospitals and the professionals who work in them.
        VOSH International has helped restore sight to more than 1,000,000 people around the world.
      </p>

      <br />

      <%= link_to "http://www.vosh.org", target: :blank do %>
        <div class="col-xs-12 text-center btn btn-primary">
          <h4>Visit Site</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>





