<div class="clock-wrap main-text text-center">
  <h1 class="title blue">Our campaign has ended, but you can still get a pair!</h1>
  <!-- <div class="container"> -->
    <!-- <div class="col&#45;xs&#45;10 col&#45;xs&#45;offset&#45;1 your&#45;clock"></div> -->
  <!-- </div> -->
  <div class="row">
    <div class="col-md-2 col-md-offset-1 col-xs-12 clear-left">
        <%= button_to "Read Story",
          "https://www.indiegogo.com/projects/fello-eyewear-the-glasses-that-keep-on-giving/x/13407604#/story",
          class: "btn btn-lg btn-primary sharp", method: "get"
        %>
    </div>
    <div class="col-md-6 col-xs-12">
        <%= button_to "Buy Now", "http://bit.ly/freefellos", class: "btn btn-lg btn-primary sharp buy", method: "get"  %>
    </div>
    <div class="col-md-2 col-xs-12">
      <%= button_to "View Gallery", "https://www.indiegogo.com/projects/fello-eyewear-the-glasses-that-keep-on-giving/x/13407604#/gallery", class: "btn btn-lg btn-primary sharp", method: "get" %>
    </div>
  </div>
  <br />
  <h4 class="gray">
    If you want to see pictures of the sunglasses and how they fit on different faces view our Gallery.
  </h4>
</div>
