<div class="clock-wrap main-text text-center">
  <h1 class="title blue">Buy your glasses before its too late!</h1>
  <div class="container">
    <div class="col-xs-10 col-xs-offset-1 your-clock"></div>
  </div>
  <div class="row">
    <!-- <div class="col&#45;md&#45;2 col&#45;md&#45;offset&#45;1 col&#45;xs&#45;12 clear&#45;left"> -->
    <!--     <%#= button_to "Read Story", -->
    <!--       "https://www.indiegogo.com/projects/fello&#45;eyewear&#45;the&#45;glasses&#45;that&#45;keep&#45;on&#45;giving/x/13407604#/story", -->
    <!--       class: "btn btn&#45;lg btn&#45;primary sharp", method: "get" -->
    <!--     %> -->
    <!-- </div> -->
    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <%= button_to "Buy Now", "http://bit.ly/FelloEyewear", class: "btn btn-lg btn-primary sharp buy", method: "get"  %>
    </div>
    <!-- <div class="col&#45;md&#45;2 col&#45;xs&#45;12"> -->
    <!--   <%#= button_to "View Gallery", "https://www.indiegogo.com/projects/fello&#45;eyewear&#45;the&#45;glasses&#45;that&#45;keep&#45;on&#45;giving/x/13407604#/gallery", class: "btn btn&#45;lg btn&#45;primary sharp", method: "get" %> -->
    <!-- </div> -->
  </div>
  <br />
</div>
