<%= image_helper founder.image, class: "full-h col-xs-12 col-sm-6 no-pad" %>
<div class="col-sm-6 v-center">
  <div class="col-xs-8 col-xs-offset-2 text-center info founder-square">
    <h1 class="blue name"><%= founder.name %></h1>
    <!-- <h4 class="personality"><%#= founder.description %></h4> -->
    <hr />
    <h2 class="name"><%= founder.email %></h2>
    <%#= image_helper founder.signature, class: "sig" %>
  </div>
</div>
