<div class="container">
  <div class="row row-eq-height">
    <div class="col-sm-5 col-xs-12 close-up">
      <%= image_helper 'close_up.jpg' %>
    </div>

    <div class="col-xs-1 v-divider hidden-xs">
    </div>
    <div class="col-xs-1 hidden-xs">
    </div>
    <div class="h-divider visible-xs"></div>

    <div class="col-sm-5 col-xs-12 text-center buy">
      <%= image_helper 'price.png', class: 'pull-left' %>
      <%= image_helper 'fittings.jpg' %>
      <button class="btn btn-lg sharp full main-text">
        Get A Pair On Kickstarter
      </button>
    </div>
  </div>
</div>
