<!-- FOR SMALL SCREENS -->
<div class="row main-text about-text text-center hidden-lg">
  <div class="col-lg-4">
    <div class="row stripe">
      <h2>Story</h2>
    </div>
    <div class="card main-text">
      Too many companies out there cost you an arm and a leg for a decent pair of sunglasses.
      So we set out to locate high quality materials and a reliable manufacturer.
      Months later we'd done it, sunglasses that have the look and feel of a designer brand for an affordable price.
    </div>
  </div>

  <div class="col-lg-4">
    <div class="row stripe">
      <h2>Promise</h2>
    </div>
    <div class="card main-text">
      Quality is guaranteed here at Fello Eyewear. That is why we are offering a groundbreaking warranty to all of our backers on Kickstarter.
      If your sunglasses are lost, broken, or stolen we'll replace them for free.
    </div>
  </div>

  <div class="col-lg-4">
    <div class="row stripe">
      <h2>Vision</h2>
    </div>
    <div class="card main-text">
      Today there are nearly 1 Billion people worldwide without access to glasses. We aren’t okay with these numbers, and we know that you aren’t either.
      This is why for every pair of sunglasses you buy, we donate $5 to the people who need it most.
    </div>
  </div>
</div>


<!-- FOR BIG SCREENS -->
<div class="visible-lg row stripe main-text text-center about-text">
  <div class="col-lg-4 divide">
    <h2>Story</h2>
  </div>

  <div class="col-lg-4 divide">
    <h2>Promise</h2>
  </div>

  <div class="col-lg-4">
    <h2>Vision</h2>
  </div>
</div>

<div class="about-text visible-lg">
  <div class="row main-text row-eq-height">
    <div class="col-lg-4 divide">
      <div class="card main-text">
        Too many companies out there cost you an arm and a leg for a decent pair of sunglasses.
        So we set out to locate high quality materials and a reliable manufacturer.
        Months later we'd done it, sunglasses that have the look and feel of a designer brand for an affordable price.
      </div>
    </div>

    <div class="col-lg-4 divide">
      <div class="card main-text">
        Quality is guaranteed here at Fello Eyewear. That is why we are offering a groundbreaking warranty to all of our backers on Kickstarter.
        If your sunglasses are lost, broken, or stolen we'll replace them for free.
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card main-text">
        Today there are nearly 1 Billion people worldwide without access to glasses. We aren’t okay with these numbers, and we know that you aren’t either.
        This is why for every pair of sunglasses you buy, we donate $5 to the people who need it most.
      </div>
    </div>
  </div>
</div>
