<div class="row">
  <div class="jumbotron jumbo-about jumbo-pic jumbo-top">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h1 class="titles">
        Crafted in California, with a vision to help the world.
      </h1>
    </div>
  </div>
</div>

<div class="row stripe">
  <h3 class="main-text text-center">
    Fello strives to become the new standard
    in an industry steered by greed.
  </h3>
  <%= image_helper 'staright_lines.jpg', class: 'full' %>
</div>

<%= render 'story' %>
