<div class="warranty main-text">
  <div class="soft-blue-bg">
    <div class="container">
      <div class="row text-center">
        <h1 class="blue">Fello's Free Replacement Policy</h1>
        <p class="gray">
          <small>
            The following policy only applies to sunglasses purchased directly from www.indiegogo.com.
          </small>
        </p>
      </div>

      <div class="row">
        <p class="h3 col-md-10 col-md-offset-1 info-text">
          <br />
          If anything and we mean <b>anything</b> ever happens to your sunglasses, we will replace them for <b>free</b>.
          <br />
          <br />
          You must think we’re crazy right? Well, in order to insure your sunglasses
          you must give into our Californian Fellosophy and help us change the sunglass
          industry by spreading the word. Here’s how it works:
        </p>
      </div>
    </div>
  </div>

  <div class="about-text">
    <div class="row main-text row-eq-height-md">
      <div class="col-md-8 col-md-offset-2 divide">
        <div class="card main-text">
          <h2 class="blue text-center">Facebook</h2>
          <ol>
            <li>After you support us on Indiegogo you will be given the option to “Share on Facebook”.</li>
            <li>Click the Facbook share button.</li>
            <%= image_helper "Facebook Share.jpg", class: "full" %>
            <li>
              Make sure you're sharing "Public".
              You must share with “Public”, otherwise there will be no way for us to verify you posted.
            </li>
            <%= image_helper "Public Share.jpg", class: "full" %>
            <li>That’s it! It’s as easy as clicking a button.</li>
          </ol>
        </div>
      </div>

      <!-- <div class="col&#45;md&#45;6 divide"> -->
      <!--   <div class="card main&#45;text"> -->
      <!--     <h2 class="blue text&#45;center">Instagram</h2> -->
      <!--     <ol> -->
      <!--       <li>After you support us on Indiegogo, post this picture (TBD) on your Instagram.</li> -->
      <!--       <%#= image_helper "backed.jpg", class: "full" %> -->
      <!--       <li>Include a comment with this link: (TBD) and this hashtag: (TBD)</li> -->
      <!--       <li>Please note you must have a public profile to insure your glasses using Instagram.</li> -->
      <!--     </ol> -->
      <!--   </div> -->
      <!-- </div> -->
    </div>
    <div class="row main-text text-center">
      <div class="col-md-8 col-md-offset-2">
        <hr />
        <h1 class="blue">Last but not Least</h1>
      </div>
    </div>
      <p class="h3 info-text text-center">
        You must share and/or post before our campaign ends (March 31st). Otherwise you will not qualify!
      </p>
  </div>
</div>
