<div class="row">
  <div class="jumbotron jumbo-founders jumbo-pic jumbo-top">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h1 class="titles">
        Meet The Founders
      </h1>
    </div>
  </div>
</div>

<div class="charity-stats counter founders">
  <div class="container main-text">
    <div class="row">
      <h2 class="text-center blue">Fashion enthusiasts, who intend to change the game.</h2>
    </div>

    <div class="row">
      <h4 class="col-md-8 col-md-offset-2">
        Since day 1 we set out to establish a company that values customers above all,
        while also giving back to those in need.
        We are passionate about our dedication to delivering quality eyewear that rivals
        more expensive, well known, eyewear brands.
        As long time sunglasses buyers we understand the
        importance of customer appreciation.
        We hope you relate.
      </h4>
    </div>
  </div>
</div>

<%= render "founder_slides" %>
