<%= render 'call_to_action' %>

<%= render 'fello_bunch' %>

<div class="col-xs-12 model-break fello-text">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Fello Designs</h1>
      </div>
    </div>
  </div>
</div>

<%= render 'models' %>
