<%= render 'call_to_action' %>

<%#= render 'count_down' %>
<%#= render 'fello_bunch' %>

<div class="clock-wrap main-text text-center">
  <h1 class="title blue">Thank you to all our backers, we couldn't have done it without you.</h1>
</div>

<div class="row">
  <div class="jumbotron jumbo-top jumbo-pic jumbo-middle call-to-action">
  </div>
</div>

<div class="col-xs-12 model-break fello-text">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Fello Designs</h1>
      </div>
    </div>
  </div>
</div>

<%= render 'models' %>
