<div class="break">
</diV>

<div class="container">
  <div class="row">
    <div class="jumbotron col-xs-12 jumbo-pic">
      <div class="col-md-4">
        <div class="panel panel-default card col-xs-12 under-drop sharp">
          <div class="panel-heading sharp">
            <div class="panel-title main-text"><h2>Mission</h2></div>
          </div>
          <div class="panel-body main-text">
            We are a premium eyewear brand that wants to do it right. Too many companies out there cost you an arm and a leg for a decent pair of sunglasses. There must be a better way! We started our mission to locate the highest quality materials and a reliable manufacturer right here in California. After a few grueling, yet exhilarating months, we did it! Finally sunglasses that have the look and feel of a designer brand for a price that everyone can afford.
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default card col-xs-12 under-drop sharp">
          <div class="panel-heading sharp">
            <div class="panel-title main-text"><h2>Help A Fello Out</h2></div>
          </div>
          <div class="panel-body main-text">
            Quality is guaranteed here at Fello eyewear. It’s very simple: if you have the misfortune of breaking a pair, and you post about us on Twitter, Facebook, Instagram, etc., we’ll send you a new pair of sunglasses free of charge. We call it 'Helping A Fello Out'.
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default card col-xs-12 under-drop sharp">
          <div class="panel-heading sharp">
            <div class="panel-title main-text"><h2>Vision</h2></div>
          </div>
          <div class="panel-body main-text">
            We also believe it is important to help others. Not just our customers, but those less fortunate. Today, there are 530 million people worldwide without access to eye care. We aren’t okay with these numbers, and we know that you aren’t either. This is why for every pair of sunglasses you buy, we donate $5 towards providing eye care to the people who need it most. Part of our vision is to help those without one.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
