<div class="row share">
  <div class="jumbotron jumbo-top jumbo-pic jumbo-share">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h1 class="titles">
        Fello Eyewear Indiegogo
        <br />
        <small>
          Fello strives to become the new standard
          in an industry led by greed.
        </small>
      </h1>
    </div>
  </div>
</div>

<div class="row share">
  <div class="col-xs-12 text-center main-text">
    <h2 class="titles h1">Support The Cause</h2>
  </div>
</div>

<div class="row share icons main-text row-eq-height">
  <div class="col-sm-6">
    <div class="card main-text">
      <h3>Watch Our Video</h3>
        <a href="http://igg.me/at/ifVnje-4cDw/x/13407604" title='Fello Eyewear Indiegogo'>
          <%= image_helper 'igg_play.png', alt: 'Fello Eyewear Indiegogo' %>
        </a>
      <h4>Take A Peak</h4>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card main-text">
      <h3>Share On Facebook</h3>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://igg.me/at/ifVnje-4cDw/x/13407604" title='Share Fello Eyewear on Facebook'>
          <%= image_helper 'facebook.svg', alt: 'Fello Eyewear Facebook' %>
        </a>
      <h4>Tell Your Friends</h4>
    </div>
  </div>

  <!-- <div class="col&#45;sm&#45;4"> -->
  <!--   <div class="card main&#45;text"> -->
  <!--     <h3>Share On Twitter</h3> -->
  <!--     <%#= image_helper 'twitter.svg', alt: 'Fello Eyewear Twitter' %> -->
  <!--     <h4>Tell Your Friends</h4> -->
  <!--   </div> -->
  <!-- </div> -->
</div>
