$gray: #999999;

.stripe {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;

  h2, h3 {
    margin: 25px 0px;
  }
}

.card {
  font-size: 18px;
  text-align: justify; 
  padding: 25px;
  line-height: 1.8;
  background-color: white;
  color: black;
}

.divide {
  border-right: none;

  @media(min-width: 992px) {
    border-right: 1px solid $gray;
  }
}

.about-text {

  .row-eq-height {

    @media(min-width: 992px) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  }
}
