/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "landing.css";
@import "footer.css";

.text-center {
  text-align: center;
}

.no-pad {
  padding-left: 0;
  padding-right: 0;
}

.no-margin {
  margin: 0;
}

.sharp {
  border-radius: 0;
}

.no-border {
  border: none;
}

.text-drop {
  text-shadow: 0px 2px 2px rgba(165, 165, 165, 0.6);
}

.navbar-center {
  position: relative;
  left: 50%;
  margin-left: -155px;

  img {
    max-height: 40px;
    margin: 5px;
  }
}

.fello-text {
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: inherit;
}

.nav-container {
  min-height: inherit;
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
}

.logo img {
  height: 100%;
  width: 100%;
  margin-top: 3px;

  @media (max-width: 768px) {
    height: 90%;
    width: 90%;
  }
}

.navbar-right {

  .main-text {
    font-size: 24px;
  }
}

.navbar-center > li > a {
  @media (min-width: 768px) {
     display: inline;
     padding-left: 0;
     padding-right: 0;
  }
}
