/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "../../../vendor/assets/bootstrap-slider/css/bootstrap-slider";

$gray: #999999;
$blue: #1FA7D6;

@mixin blue-submit {
  background-color: $blue;
  color: white;
  border: none;
  font-weight: 800;
}

.thunderclap {
  padding: 0;
  margin-top: 25px;
  @include blue-submit;

  a {
    color: inherit;
    background-color: inherit;
    width: 100%;
    border: inherit;

    &:hover {
      background-color: darken($blue, 10%);
    }
    &:focus {
      background-color: darken($blue, 10%);
    }
    &:active {
      background-color: darken($blue, 15%);
    }
    &:visited {
      background-color: $blue;
      color: white;
    }
    &:link {
      background-color: $blue;
      color: white;
    }
  }
}

.call-to-action {

  .titles {
    font-size: 14px;
    line-height: 1.4;

    @media(min-width: 768px) {
      font-size: 26px;
    }
  }
}

.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  text-align: left;
  position: absolute;
  margin-left: -10px;
}

.white {
  color: white;
}

.blue {
  color: $blue;
}

.gray {
  color: $gray;
}

@mixin display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-eq-height-md {

  @media(min-width: 992px) {
    @include display-flex;
  }
}

.row-eq-height-xs {
  @include display-flex;
}

.row-eq-height {

  @media(min-width: 768px) {
    @include display-flex;
  }
}

.header-eq-marg {
  margin-top: 10px;
}

.working {
  color: $gray;
  font-style: italic;
}

.full-h {
  height: 100%;
}

.v-center {
  margin-top: auto;
  margin-bottom: auto;
}

.text-input {

  ::-webkit-input-placeholder {
     color: rgba($blue, .6);
  }

  input:-moz-placeholder { /* Firefox 18- */
     color: rgba($blue, .6);
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: rgba($blue, .6);
  }

  input:-ms-input-placeholder {
     color: rgba($blue, .6);
  }
}

.form-control {
  border-color: $gray;
}

.navbar-default {
  margin: 0px;
  background-color: white;

  li {
    padding: 10px 0px;
  }
}

.text-center {
  text-align: center;
}

.sharp {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.no-border {
  border: none;
}

.no-pad {
  padding: 0px;
}

.full {
  width: 100%;
}

.navbar-center {
  text-align: center;
  border-top: 1px solid $blue;

  @media(min-width: 768px) {
    border: none;
  }

  li {
    display: inline-block;
  }

  @media(min-width: 768px) {
    position: relative;
    left: 50%;
    margin-left: -155px;
  }

  img {
    max-height: 40px;
    margin: 5px;
  }
}

.navbar-right {
  text-align: center;

  li {
    display: inline-block;

    &.active {
      border-bottom: 3px solid $blue;
      padding-bottom: 7px;
    }

    &:hover {
      border-bottom: 3px solid $blue;
      padding-bottom: 7px;
    }
  }
}

.navbar-default .navbar-nav>li>a:hover {
  color: $blue;
}

.main-text {
  font-family: 'Josefin Sans', sans-serif;
}

.titles {
  font-variant: small-caps;
  font-family: 'Josefin Sans', sans-serif;
}

.fello-text {
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.navbar-right {

  .main-text {
    font-size: 24px;
  }
}

.navbar-center > li > a {
  @media (min-width: 768px) {
     display: inline;
     padding-left: 0;
     padding-right: 0;
  }
}

.logo {
  padding: 5px 15px;
  margin-top: 10px;
  margin-bottom: 10px;

  img {
    height: 100%;
  }
}

.form-alert {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  color: $blue;
  border-color: $blue;
  background-color: rgba($blue, .4);
}
