/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$blue: #1FA7D6;
$gray: #999999;

@import "landing.css";
@import "footer.css";

.col-sm-4 {

  ::-webkit-input-placeholder {
     color: rgba($blue, .6);
  }

  input:-moz-placeholder { /* Firefox 18- */
     color: rgba($blue, .6);
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: rgba($blue, .6);
  }

  input:-ms-input-placeholder {
     color: rgba($blue, .6);
  }
}

.form-control {
  border-color: $gray;
}

.navbar-default {
  margin: 0px;
  background-color: white;

  li {
    padding: 10px 0px;
  }
}

.text-center {
  text-align: center;
}

.sharp {
  border-radius: 0;
}

.no-border {
  border: none;
}

.no-pad {
  padding: 0px;
}

.full {
  width: 100%;
}

.navbar-center {
  text-align: center;
  border-top: 1px solid $blue;

  @media(min-width: 768px) {
    border: none;
  }

  li {
    display: inline-block;
  }

  @media(min-width: 768px) {
    position: relative;
    left: 50%;
    margin-left: -155px;
  }

  img {
    max-height: 40px;
    margin: 5px;
  }
}

.navbar-right {
  text-align: center;

  li {
    display: inline-block;

    &.active {
      border-bottom: 3px solid $blue;
      padding-bottom: 7px;
    }

    &:hover {
      border-bottom: 3px solid $blue;
      padding-bottom: 7px;
    }
  }
}

.main-text {
  font-family: 'Overlock', cursive;
}

.titles {
  font-family: 'Overlock SC', cursive;
}

.fello-text {
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.navbar-right {

  .main-text {
    font-size: 24px;
  }
}

.navbar-center > li > a {
  @media (min-width: 768px) {
     display: inline;
     padding-left: 0;
     padding-right: 0;
  }
}

.logo {
  padding: 5px 15px;
  margin-top: 10px;
  margin-bottom: 10px;

  img {
    height: 100%;
  }
}
