.jumbo-survey {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #64a3de 0%, #1fa7d6 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 0%,#64a3de 0%,#1fa7d6 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 0%,#64a3de 0%,#1fa7d6 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.jumbo-vosh {
  background-image: url("fello_and_vosh.jpg");
  background-position-x: 50% !important;
  background-position-y: 35% !important;
}

.jumbo-founders {
  background-image: url("californian_fello.jpg");
}

.jumbo-lg {
  background-image: url("fello_lifeguard.jpg");
  background-position-y: 35% !important;
}

.jumbo-share {
  background-image: url("support_fello.jpg");
  background-position-x: 50% !important;
  background-position-y: 90% !important;
}

.jumbo-about {
  background-image: url("fello_pineapple.jpg");
}

.top-tl {
  background-image: url("matt.jpg");
}

.top-tm {
  background-image: url("dani.jpg");
}

.top-tr {
  background-image: url("kayrah.jpg");
}

.top-ml {
  background-image: url("ridge_down.jpg");
}

.top-mm {
  background-image: url("fello_center.png");
}

.top-mr {
  background-image: url("cate.jpg");
}

.top-bl {
  background-image: url("michelle.jpg");
}

.top-bm {
  background-image: url("kassan.jpg");
}

.top-br {
  background-image: url("jerome.jpg");
}

.top-tl-xs {
  background-image: url("michelle-xs.jpg");
}

.top-tr-xs {
  background-image: url("kayrah-xs.jpg");
}

.top-ml-xs {
  background-image: url("ridge_down-xs.jpg");
}

.top-mm-xs {
  background-image: url("fello_center-xs.png");
}

.top-mr-xs {
  background-image: url("dani-xs.jpg");
}

.top-bl-xs {
  background-image: url("cate-xs");
}

.top-bm-xs {
  background-image: url("kassan-xs.jpg");
}
