.call-to-action {
  position: absolute;
  z-index: 1;
  margin-top: 230px;
  color: black;

  p.share {
    font-size: 18px;
    margin: 0px;
  }

  @media (max-width: 768px) {
    margin-top: 60px;

    p.share {
      font-size: 14px;
    }
  }

  button {
    margin-top: 20px;

    @media (min-width: 992px) {
      margin-top: 30px;
    }

    a {
      &:hover, &:active {
        text-decoration: none;
      }
    }
  }

  img {
    width: 55px;
  }

  h1 {
    font-size: 28px;
  }

  @media (min-width: 768px) {

    h1 {
      font-size: 38px;
    }

    .slogan {
      font-size: 40px;

      img {
        width: 80px;
      }
    }
  }

  @media (min-width: 992px) {

    h1 {
      font-size: 44px;
    }

    .slogan {
      font-size: 65px;

      img {
        width: 110px;
      }
    }
  }

  @media (min-width: 1200px) {

    h1 {
      font-size: 56px;
    }

    .slogan {
      font-size: 85px;

      img {
        width: 135px;
      }
    }
  }

  a {
    color: inherit;

    &:link, &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:hover, &:active {
      text-decoration: underline;
      color: inherit;
    }
  }
}
