.jumbotron.bb {
  background-color: white;
}

.bb-container {
  width: 90%;
  background-color: inherit;

  @media(max-width: 992px) {
    width: 100%;
  }

  .row {
    text-align: center;
  }

  .bb-square {
    padding: 3px;
    float: none;
    display: inline-block;
    height: 270px;
    overflow: hidden;
  }
}
