$gray: #999999;
$blue: #1FA7D6;

.charity-stats {
  line-height: 1.7;
  padding-top: 40px;
  padding-bottom: 40px;

  &.counter {
    color: lighten(black, 35%);
    background-color: rgba($blue, 0.1);

    .count {
      font-size: 92px;
      text-align: center;
      color: $blue;

      @media(min-width: 768px) {
        text-align: right;
      }
    }

    .v-center {

      h1 {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .partner {
    text-align: justify;
    margin-bottom: 35px;
    line-height: inherit;

    @media(min-width: 992px) {
      text-align: left;
    }
  }

  hr {
    border-color: rgba($blue, 0.5);

    @media(min-width: 992px) {
      margin-right: 10%;
      margin-left: 10%;
    }
  }

  .vosh-logo {
    width: 35%;
    margin-bottom: 30px;
  }

  p {
    text-align: center;

    @media(min-width: 768px) {
      text-align: left;
    }
  }

  .btn {

    a {
      color: white;
    }
  }

  .row-eq-height {

    p {
      margin: 0;
      font-size: 16px;

      &.h1 {
        font-size: 54px;
        min-width: 120px;
      }

      .highlight {
        color: $blue;
        font-weight: bold;
      }
    }
  }
}
