.bp {
  color: white;
  padding: 10px 15px;
  margin: 0px;
}

.bp-container {
  margin-left: 0px;
  margin-right: 0px;
}

.bunch-pic {
  background-position: center;
}

.same-size {
  height: inherit;
  width: 100%;
}
