.footer {
  height: 105px;
  background-color: black;
  margin-top: 600px;

  .row:first-of-type {
    margin-top: 10px;
  }

  h5, h4 {
    color: white;

    a {
      color: white;
      position: relative;
      top: 20px;

      &:hover, &:active, &:link, &:visited {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.footer {
  @media (max-width: 1200px) {
    margin-top: 500px;
  }

  @media (max-width: 992px) {
    margin-top: 400px;
  }

  @media (max-width: 768px) {
    margin-top: 0px;
  }
}
