.footer {
  background-color: black;
  margin-top: 50px;
  color: white;
  padding: 40px 0px 45px 0px;

  .alert {
    display: none;
    margin-top: 5px;
    width: 88%;
    text-align: center;
  }

  .email {
    width: 88%;
    display: inline;
    margin-top: 5px;
  }

  .plane {
    width: 7%;
    margin-left: 5px;
    vertical-align: middle;
  }

  .work {
    color: gray;

    span {
      font-style: italic;
    }
  }

  ul {
    list-style: none;
    padding: 0px 0px 0px 10px;

    li {
      margin: 5px 0px;
    }
  }

  h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 5px;
  }

  a {
    color: white;

    &:hover, &:active, &:link, &:visited {
      text-decoration: none;
      color: white;
    }
  }
}
