$blue: #1FA7D6;
$offblack: #0d0d0d;

.jumbo-pic {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  margin-bottom: 0px;

  &.bb {
    background-color: $offblack;
  }
}

.jumbo-models {
  padding-top: 0px;
  padding-bottom: 50px;
  background-color: black;
}

.jumbo-top {
  padding-top: 110px;
  padding-bottom: 210px;
  background-position: center;
  color: white;

  @media(min-width: 768px) {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  h1 {
    padding: 30px 10px;
    font-size: 24px;
    margin: 0px;
    background-color: rgba(0, 0, 0, .7);

    @media(min-width: 768px) {
      font-size: 36px;
    }
  }
}

.call-to-action {
  padding-top: 100px;
  padding-bottom: 250px;

  h2 {
    color: $blue;
    font-weight: 400;
    margin-top: 35px;
    background-color: rgba(0, 0, 0, .7);
    padding: 5px 10px 15px 10px;
    margin-top: 0px;

    @media(max-width: 768px) {
      font-size: 18px;
    }
  }
}
