@import "embedded_sheet.css";

.jumbo-pic {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  margin-bottom: 0px;

  &.bb {
    background-color: black;
  }
}

.jumbo-models {
  padding-top: 0px;
  padding-bottom: 50px;
  background-color: black;
}

.jumbo-top {
  padding-top: 110px;
  padding-bottom: 210px;
  background-position: center;
  color: white;

  @media(min-width: 768px) {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  h1 {
    padding: 30px 10px;
    font-size: 24px;
    margin: 0px;
    background-color: rgba(0, 0, 0, .7);

    @media(min-width: 768px) {
      font-size: 36px;
    }
  }
}
