@import "card_with_img.css";
@import "carousel.css";
@import "call_to_action.css";

.break {
  text-align: center;
  padding-bottom: 10px;

  h2 {
    color: black;

    a {
      color: black;
      text-decoration: none;

      &:visited, &:link {
        color: black;
        text-decoration: none;
      }

      &:focus, &:hover {
        color: #484242;
        text-decoration: none;
      }
    }
  }
}

.jumbotron {

  &.infographic {
    background-color: #F0F2F1;
  }
}

.jumbo-pic {
  padding-top: 25px;
  padding-bottom: 100px;
  background: asset-url('fello_pineapple.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.jumbotron {
    margin-bottom: 0px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
}

.under-drop {
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.under-drop:before, .under-drop:after {
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}

.under-drop:after {
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
  -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
  -o-transform:skew(8deg) rotate(3deg);
  transform:skew(8deg) rotate(3deg);
}

.card {
  padding-left: 0px;
  padding-right: 0px;
  line-height: 2; 
  text-align: justify;

  &.panel {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0px;
    color: black;
  }

  .panel-body {
    font-size: 16px;
  }

  .panel-title {

    h1 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
