$blue: #1FA7D6;
$light-black: lighten(black, 35%);

.model-break {
  background-color: rgba($blue, 0.1);
  padding: 40px 0;

  h1 {
    color: $light-black;
  }
}

.models > ul {
  background-color: rgba($blue, 0.1);
  border-top: 1px solid $blue;
}

.models {
  clear: both;

  li.h2 {
    color: $light-black;
  }

  .buy {

    @media(min-width: 768px) {
      margin-top: 45px;
    }
    
    .btn {
      margin-top: 5%;
      background-color: $blue;
      border: none;
    }

    h4 {
      font-size: 14px;

      @media(min-width: 992px) {
        line-height: 1.3;
        font-size: 18px;
      }
    }
  }

  .close-up .tab-pane > img {
    width: 60%;
    margin-left: 20%;
    overflow: hidden;

    @media(min-width: 992px) {
      width: 100%;
      margin-left: 0;
    }
  }

  .tab-content {
    padding: 50px 0px;
  }


  .v-divider {
    border-right: 1px solid $blue;
    margin-top: -50px;
    margin-bottom: -50px;
  }

  .h-divider {
    clear: left;
    padding-top: 20px;
    margin: 0 -15px 20px -15px;
    border-bottom: 1px solid $blue;
  }

  .subtab {

    li.h4 {
      float: left;
      display: block;
      width: 30%;
      border: 1px solid $blue;
      font-size: 13px;

      &:first-of-type {
        margin-left: 20%;

        @media(min-width: 992px) {
          margin-left: 0;
        }
      }

      @media(min-width: 992px) {
        width: 50%;
      }

      @media(min-width: 768px) {
        font-size: 18px;
      }

      a {
        margin-bottom: 0;
        font-size: inherit;
      }
    }

    .nav-tabs.nav-justified > li > a,
    .nav-tabs.nav-justified > li > a:hover,
    .nav-tabs.nav-justified > li > a:focus,
    .nav-tabs.nav-justified > li > a:link,
    .nav-tabs.nav-justified > li > a:visited {
      color: inherit;
      border: none;
      background-color: white;
    }

    .nav-tabs.nav-justified > li > a:hover {
      background-color: $blue;
    }

    .nav-tabs.nav-justified > li.active > a,
    .nav-tabs.nav-justified > li.active > a:hover,
    .nav-tabs.nav-justified > li.active > a:focus,
    .nav-tabs.nav-justified > li.active > a:link,
    .nav-tabs.nav-justified > li.active > a:visited {
      color: inherit;
      border: none;
      background-color: $blue;
    }
  }
}
