$gray: #999999;
$blue: #1FA7D6;
$fb: #415E9B;
$pink: #EB1478;

.share {
  background-color: inherit;

  .row {
    &:last-of-type {
      padding-bottom: 100px;
    }
  }

  .count-widget {
    border: none;
    cursor: default;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .facebook {
    background-color: $fb;

    .badge {
      color: $fb;
    }
  }

  .indiegogo {
    background-color: $pink;

    .badge {
      color: $pink;
    }
  }

  .bar {

    h2 {
      text-align: center;
      margin-top: 0;

      @media(min-width: 768px) {
        margin-top: 5%;
      }
    }
  }

  .progress {
    height: 40px;
    overflow: visible;


    .progress-bar {
      line-height: 40px;
      font-size: 20px;

      &.inner-bar {
        z-index: 3;
        border-right: 1px solid white;
      }
    }
  }

  h2.titles {
    margin-bottom: 0px;
    margin-top: 30px;
  }

  &.icons {

    .circle {
      margin-top: 0px;
    }

    h4 {
      color: $gray;
    }

    h3 {
      margin-top: 0px;
      font-size: 24px;

      @media(min-width: 768px) {
        font-size: 20px;
      }

      @media(min-width: 992px) {
        font-size: 24px;
      }
    }
  }

  .card {
    text-align: center;
    background-color: inherit;
  }

  &.stripe {
    color: $gray;
    background-color: rgba($blue, 0.1);

    h3 {
     margin: 15px 0px;
    }

    h4 {
      padding: 0px 10px; 
    }
  }

  img {
    max-height: 220px;

    @media(min-width: 768px) {
      max-height: 160px;
    }

    @media(min-width: 992px) {
      max-height: 220px;
    }

    &:hover {
      -webkit-animation: spin 2.5s ease-in;
      -moz-animation: spin 2.5s ease-in;
      animation: spin 2.5s ease-in;
    }

    @keyframes spin { 
      50% {
        transform: rotate(180deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    @-webkit-keyframes spin { 
      50% {
        -webkit-transform: rotate(180deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @-moz-keyframes spin { 
      50% {
        -moz-transform: rotate(180deg);
      }

      100% {
        -moz-transform: rotate(360deg);
      }
    }
  }
}

.jumbo-share {
  padding-top: 230px;
  padding-bottom: 160px;

  small {
    color: white;
  }

  .text-center {
    margin-top: -180px;
  }
}
