$blue: #1FA7D6;
$gray: #999999;
$blue-gray: #5F7C86;

.survey {
  margin: 5% 15% 25% 15%;
  background-color: $blue-gray;
  padding-top: 5px;
  opacity: 0.95;

  &.complete {
    background-color: transparent;
    margin: 10% 15% 30% 15%;
    font-size: 63px;
    text-align: center;
  }

  label {
    color: white;
    font-weight: 400;
  }

  .container.under {
    background-color: darken($blue-gray, 10%);
    margin-top: 25px;
    padding: 25px 0 15px 0;

    @media(min-width: 768px) {
      margin-top: 35px;
      padding: 40px 0 25px 0;
    }

    input.email {
      padding: 25px;
      font-size: 14px;

      @media(min-width: 768px) {
        font-size: 20px;
      }
    }

    input.btn {
      background-color: $blue;
      color: white;
      border: none;
      padding-top: 18px;
      padding-bottom: 34px;
      font-weight: 800;
    }
  }

  .survey-question {
    color: white;
    margin: 25px 25px 40px 24px;
    font-size: 18px;

    @media(min-width: 992px) {
      line-height: 1.6;
      font-size: 24px;
    }
  }

  .btn-holder {
    float: none;
    margin: auto;
  }

  input.yes, input.no {
    border-radius: 50%;
    padding: 35px;
    background-color: white;
  }

  .yes {
   color: #4cae4c;
  }

  .no {
   color: #d43f3a;
  }
}
