$blue: #1FA7D6;
$gray: #999999;

.survey {
  margin: 15% 15% 25% 15%;

  .btn-holder {
    float: none;
    margin: auto;
  }

  input.yes, input.no {
    border-radius: 50%;
    padding: 75px;

    &:first-of-type {
      float: left;
    }

    &:last-of-type {
      float: right;
    }
  }
}
