$blue: #1FA7D6;
$gray: #999999;
$blue-gray: #5F7C86;

@mixin blue-submit {
  background-color: $blue;
  color: white;
  border: none;
  font-weight: 800;
}

.survey {
  background-color: $blue-gray;
  opacity: 0.95;
  padding-top: 15px;
  margin: 0%;

  @media(min-width:768px) {
    margin: 5% 15% 25% 15%;
  }

  .slider-wrap {

    .slider {
      margin-bottom: 40px !important;
      margin-top: 10px !important;
      cursor: pointer;

      @media(min-width:768px) {
        margin-bottom: 70px !important;
      }
    }

    .slider-tick-label {
      @media(max-width: 768px) {
        font-size: 11px !important;
      }
    }

    input {
      &[type="number"] {
        font-size: 18px;
        font-weight: 400;
        color: $blue;
        text-align: center;
      }

      &[type="submit"] {
        padding: 10px;
        @include blue-submit;
      }
    }
  }

  &.complete {
    background-color: transparent;
    margin: 10% 15% 30% 15%;
    font-size: 63px;
    text-align: center;
  }

  label {
    color: white;
    font-weight: 400;
  }

  .container.under {
    background-color: darken($blue-gray, 10%);
    margin-top: 25px;
    padding: 25px 0 15px 0;

    @media(min-width: 768px) {
      margin-top: 35px;
      padding: 40px 0 25px 0;
    }

    input.email {
      padding: 25px;
      font-size: 14px;

      @media(min-width: 768px) {
        font-size: 20px;
      }
    }

    input.btn {
      padding-top: 18px;
      padding-bottom: 34px;
      @include blue-submit;
    }
  }

  .survey-question {
    color: white;
    margin: 5px 25px 15px 24px;
    font-size: 18px;

    @media(min-width: 992px) {
      line-height: 1.6;
      font-size: 24px;
      margin: 15px 25px 30px 24px;
    }
  }

  .btn-holder {
    float: none;
    margin: auto;
  }

  input.yes, input.no {
    padding: 10px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 50%;

    @media(min-width: 768px) {
      padding: 35px;
    }
  }

  .yes {
   color: #4cae4c;
  }

  .no {
   color: #d43f3a;
  }
}
