<div class="footer no-pad">
  <div class="container-fluid main-text">
    <div class="row">
      <div class="col-sm-4">
        <h3>Contact Us</h3>
        <ul>
          <li><a href="mailto:contact@felloeyewear.com">Contact@felloeyewear.com</a></li>
          <li class="work">Founders <span>(under construction)</span></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h3>Want More Info?</h3>
        <%= form_tag lead_email_path, method: :post, remote: true do %>
          <%= email_field_tag 'email', '', class: "form-control email", placeholder: "Email Address" %>
          <%= image_submit_tag "email.png", class: "plane" %>
        <% end %> 
        <div class="alert alert-success" role="alert"></div>
      </div>

      <div class="col-sm-4">
        <h3>Considerations</h3>
        <ul>
          <li class="work">Returns Policy <span>(under construction)</span></li>
          <li class="work">Privacy Policy <span>(under construction)</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid main-text rights">
  © 2015 Fello Eyewear. All rights reserved.
</div>
