<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-2"><h4>Contact</h4></div>
      <div class="col-xs-1 col-sm-offset-9 col-xs-offset-8">
        <h4><%= link_to "Story", story_path, { title: "Fello Eyewear Story" } %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2"><h5>felloeyewear@gmail.com</h5></div>
    </div>
</div>
