<div class="footer col-xs-12 no-pad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2"><h4 class="main-text">Contact</h4></div>
      <div class="col-xs-1 col-sm-offset-9 col-xs-offset-8">
        <h4 class="main-text"><%= link_to "Story", story_path, { title: "Fello Eyewear Story" } %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2"><h5 class="main-text">felloeyewear@gmail.com</h5></div>
    </div>
</div>
